.radarstyle {
    margin-right: auto;
    margin-left: auto;
}

.radarstyle line ~ text {
    fill: #FFF;
    font-size: 1.2em;
    margin: 10px;
    padding: 10px;
}

.radarstyle circle ~ text{
    display: none; 
}

.radarstyle path {
    fill: white;
    fill-opacity: 0.7;
    stroke: white;
}

.radarstyle circle {
    fill: white;
    fill-opacity: 0.1;
    stroke: white;
}

.